<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container" id="main-content">
		<div class="row h-100">
			<div class="col-3 no-padding">
				<form class="form-inline" action="#" method="get">
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-cart-arrow-down fa-bigger"></i> CHECKOUT
					</button>
				</form>
			</div>
			<div class="col-3 my-auto">
				<i class="fa fa-usd fa-bigger d-flex justify-content-end">&nbsp;TOTAL:</i>
			</div>
			<div class="col-3 my-auto">
				<i class="font-weight-bold" th:text="${total}"></i>
			</div>
			<div class="col-3 no-padding">
				<form class="form-inline justify-content-end" action="#"
					th:action="@{/cart/remove/all}" method="get">
					<button class="btn btn-danger" type="submit">
						<i class="fa fa-trash-o fa-bigger"></i> DELETE ALL
					</button>
				</form>
			</div>
		</div>
		<div class="row mt-4">
			<div th:if="${successMessage}"
				class="col-12 alert alert-success alert-dismissible fade show"
				role="alert">
				<span th:text="${successMessage}"></span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<th:block th:if="${#lists.isEmpty(books)}">
				<h5>No books added to cart</h5>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(books)}">
				<div class="table-responsive">
					<h5>Books added to cart</h5>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Name</th>
								<th>Authors</th>
								<th>Price ($)</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody class="table-secondary">
							<tr th:each="book, iStat : ${books}">
								<td th:text="${book.name}"></td>
								<td th:text="${book.authors}"></td>
								<td th:text="${book.price}"></td>
								<td>
									<form class="form-inline justify-content-center" action="#"
										th:action="@{/cart/remove/{id}(id=${book.id})}" method="get">
										<button class="btn btn-danger" type="submit">
											<i class="fa fa-minus-circle"></i> DELETE FROM CART
										</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-1" style="padding-top: 25px;">
					<h6 class="font-weight-bold">Total:</h6>
				</div>
				<div class="col-1" style="padding-top: 25px;">
					<h6 class="font-weight-bold" th:text="${total}"></h6>
				</div>
			</th:block>
		</div>
	</div>

	<footer th:replace="layout :: footer"></footer>
</body>
</html>