<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container" id="main-content">
		<div class="row">
			<div class="col-6 no-padding">
				<form class="form-inline" action="#" th:action="@{/search}"
					method="get">
					<input class="form-control mr-sm-2" type="search" name="term"
						placeholder="Search by name ..." />
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-search"></i> Search
					</button>
				</form>
			</div>
		</div>

		<div class="row mt-4">
			<div th:if="${successMessage}"
				class="col-12 alert alert-success alert-dismissible fade show"
				role="alert">
				<span th:text="${successMessage}"></span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<th:block th:if="${#lists.isEmpty(bookPage)}">
				<h5>No books</h5>
			</th:block>
			<div class="table-responsive">
				<h5>List of books</h5>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Price ($)</th>
							<th>Authors</th>
							<th>ISBN</th>
							<th>Publisher</th>
							<th>Published on</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="book, iStat : ${bookPage.content}"
							th:alt-title="${iStat.even}? 'even' : 'odd'">
							<td th:text="${book.name}"></td>
							<td th:text="${book.price}"></td>
							<td th:text="${book.authors}"></td>
							<td th:text="${book.isbn}"></td>
							<td th:text="${book.publisher}"></td>
							<td th:text="${book.publishedOn}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${bookPage.totalPages > 0}" class="pagination"
				th:each="pageNumber : ${pageNumbers}">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a
							th:href="@{/(size=${bookPage.size}, page=${pageNumber})}"
							th:text=${pageNumber} th:class="page-link"></a></li>
					</ul>
				</nav>
			</div>

			<!-- 			<nav aria-label="Page navigation example"> -->
			<!-- 				<ul class="pagination"> -->
			<!-- 					<li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
			<!-- 					<li class="page-item"><a class="page-link" href="#">1</a></li> -->
			<!-- 					<li class="page-item"><a class="page-link" href="#">2</a></li> -->
			<!-- 					<li class="page-item"><a class="page-link" href="#">3</a></li> -->
			<!-- 					<li class="page-item"><a class="page-link" href="#">Next</a></li> -->
			<!-- 				</ul> -->
			<!-- 			</nav> -->

		</div>
	</div>

	<footer th:replace="layout :: footer"></footer>
</body>
</html>